<img src="https://drive.google.com/uc?id=1v7YY_rNBU2OMaPnbUGmzaBj3PUeddxrw" alt="ITI MCIT EPITA" style="width: 750px;"/>

___

# Data Preparation & Exploration

**By**: Mohamed Fouad Fakhruldeen, mohamed.fakhruldeen@epita.fr
____

## Session 02

#### Topics: 
* Download and open PostgreSQL 
* Quick overview of DDL 
* Quick overview of DML 
* Integration of the Northwind database 
* Query and extractions on that database 
* Integration of the results in Orange

#### Postgresql installation 

https://www.postgresql.org/

https://www.postgresql.org/download/

sudo apt install postgresql
sudo pg_isready
sudo su - postgres

psql
CREATE USER mohamed WITH PASSWORD 'fakhrulde3n';
CREATE DATABASE dataprep;
GRANT ALL PRIVILEGES ON DATABASE dataprep to mohamed;
\q

sudo curl https://www.pgadmin.org/static/packages_pgadmin_org.pub | sudo apt-key add
sudo sh -c 'echo "deb https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/$(lsb_release -cs) pgadmin4 main" > /etc/apt/sources.list.d/pgadmin4.list && apt update'

sudo apt install pgadmin4

# sudo apt install pgadmin4-desktop
# sudo apt install pgadmin4-web 

# Configure the webserver, if you installed pgadmin4-web:
sudo /usr/pgadmin4/bin/setup-web.sh

https://www.tecmint.com/install-postgresql-and-pgadmin-in-ubuntu/

https://www.microfocus.com/documentation/idol/IDOL_12_0/MediaServer/Guides/html/English/Content/Getting_Started/Configure/_TRN_Set_up_PostgreSQL.htm

open my Computer ==>
  right click inside my computer and select properties ==>
    Click on Advanced System Settings ==>
       Environment Variables ==>
          from the System Variables box select "PATH" ==>
             Edit... ==>

 ;C:\PostgreSQL\9.2\bin; C:\PostgreSQL\9.2\lib

#### Crow's Foot Notation


Cardinality:

    zero or many
    one or many
    one and only one
    zero or one 
    
Relationship degrees make them readable as :

    One-to-one
    One-to-many
    Many-to-many

#### List of tables in the hospital database:

    physician
    department
    affiliated_with
    procedure
    trained_in
    patient
    nurse
    appointment
    medication
    prescribes
    block
    room
    on_call
    stay
    undergoes

### DDL Data Definition Language

CREATE TABLE parent(
    id SERIAL PRIMARY KEY,
    name VARCHAR(20) NOT NULL
);

CREATE TABLE child (
  id SERIAL PRIMARY KEY,
  parent INTEGER NOT NULL REFERENCES parent(id), 
  name VARCHAR(36) NOT NULL CHECK name <> '',
  surname VARCHAR(15) NOT NULL CHECK surname <> ''
);

ALTER TABLE child ADD COLUMN age INTEGER NOT NULL CHECK age > 0;

DROP TABLE author;

TRUNCATE TABLE table_name;

ALTER TABLE table_name 
RENAME COLUMN column_name TO new_column_name;

TRUNCATE TABLE table_name 
CASCADE;

ALTER TABLE IF EXISTS table_name
RENAME TO new_table_name;

#### DML (Data Manipulation Language)

SELECT
   select_list
FROM
   table_name;

SELECT
   first_name,
   last_name,
   email
FROM
   customer;

SELECT select_list
FROM table_name
WHERE condition
ORDER BY sort_expression

SELECT
	last_name,
	first_name
FROM
	customer
WHERE
	first_name = 'Gamal';

SELECT
	last_name,
	first_name
FROM
	customer
WHERE
	first_name = 'Gamal' OR 
    last_name = 'Gamal';

SELECT
	first_name,
	last_name
FROM
	customer
WHERE 
	first_name IN ('Gamal','Jamal','Gmal','Jmal');

WHERE 
	first_name LIKE 'Gam%'

DELETE FROM table_name
WHERE condition;

DROP TABLE IF EXISTS links;

CREATE TABLE links (
    id serial PRIMARY KEY,
    url varchar(255) NOT NULL,
    name varchar(255) NOT NULL,
    description varchar(255),
    rel varchar(10),
    last_update date DEFAULT now()
);

INSERT INTO  
   links 
VALUES 
   ('1', 'https://www.ekb.eg', 'EKB', 'Egyptian Knowledge Bank', 'follow', '2020-06-02'),
   ('2', 'http://www.oreilly.com', 'O''Reilly Media', 'O''Reilly Media', 'nofollow', '2013-06-02'),
   ('3', 'http://www.google.com', 'Google', 'Google', 'nofollow', '2013-06-02'),
   ('4', 'http://www.yahoo.com', 'Yahoo', 'Yahoo', 'nofollow', '2013-06-02'),
   ('5', 'http://www.bing.com', 'Bing', 'Bing', 'nofollow', '2013-06-02'),
   ('6', 'http://www.facebook.com', 'Facebook', 'Facebook', 'nofollow', '2013-06-01'),
   ('7', 'https://www.tumblr.com/', 'Tumblr', 'Tumblr', 'nofollow', '2013-06-02'),
   ('8', 'http://www.postgresql.org', 'PostgreSQL', 'PostgreSQL', 'nofollow', '2013-06-02');

SELECT * FROM links;

SELECT
   customer_id
FROM
   payment
GROUP BY
   customer_id;

SELECT
	customer_id,
	SUM (amount)
FROM
	payment
GROUP BY
	customer_id
ORDER BY
	SUM (amount) DESC;

SELECT
	column1,
	aggregate_function (column2)
FROM
	table_name
GROUP BY
	column1
HAVING
	condition;

SELECT
	customer_id,
	SUM (amount)
FROM
	payment
GROUP BY
	customer_id
HAVING
	SUM (amount) > 200;

# The following statement adds the HAVING clause to select the store that has more than 300 customers:

SELECT
	store_id,
	COUNT (customer_id)
FROM
	customer
GROUP BY
	store_id
HAVING
	COUNT (customer_id) > 300;

##### inner join

SELECT
	customer.customer_id,
	first_name,
	last_name,
	amount,
	payment_date
FROM
	customer
INNER JOIN payment 
    ON payment.customer_id = customer.customer_id
ORDER BY payment_date;

##### left join

SELECT
	film.film_id,
	title,
	inventory_id
FROM
	film
LEFT JOIN inventory 
    ON inventory.film_id = film.film_id
ORDER BY title;

##### Right Join

SELECT 
   review, 
   title
FROM 
   films
RIGHT JOIN film_reviews 
   ON film_reviews.film_id = films.film_id;

##### full outer join

SELECT
	employee_name,
	department_name
FROM
	employees e
FULL OUTER JOIN departments d 
        ON d.department_id = e.department_id
WHERE
	employee_name IS NULL;

#### import csv to postgresql

CREATE TABLE persons (
  id SERIAL,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  dob DATE,
  email VARCHAR(255),
  PRIMARY KEY (id)
)

check persons.csv in files directory session02

COPY persons(first_name, last_name, dob, email)
FROM 'Files/Session02/persons.csv'
DELIMITER ','
CSV HEADER;

SELECT * FROM persons;

#### export from postgresql to csv

COPY persons TO 'Files/Session02/persons_db.csv' DELIMITER ',' CSV HEADER;

### Exercise

1. Write a query to get Product name and quantity/unit. Solution
2. Write a query to get current Product list (Product ID and name). Solution
3. Write a query to get most expense and least expensive Product list (name and unit price). Solution
4. Write a query to get Product list (id, name, unit price) where current products cost less than 20.
5. Write a query to get Product list (id, name, unit price) where products cost between 15 and  25. 
6. Write a query to get Product list (name, unit price) of above average price. 
7. Write a query to get Product list (name, unit price) of ten most expensive products.  
8. Make a list of categories and suppliers who supply products within those categories. 
9. Make a complete list of customers, the OrderID and date of any orders they have made. Include customers who have not placed any orders. 
10. Make a complete list of customers along with the number of orders they have placed. 
11. Create a parameterized query that has the user enter a city and then list the customers or suppliers from that city.

#### connect to jupyterbook

conda install ipython-sql
conda install sqlalchemy
conda install psycopg2

To load ipython-sql, use the following magic command:

In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [3]:
#%sql postgresql://username:password@host:port/databasename
%sql postgresql://mohamed:fakhrulde3n@localhost/dataprep

'Connected: mohamed@dataprep'

expected: 'Connected: username@database'

In [5]:
# Example format
#engine = create_engine('postgresql://username:password@host:port/databasename')

In [6]:
%%sql
DROP TABLE IF EXISTS links;

CREATE TABLE links (
    id serial PRIMARY KEY,
    url varchar(255) NOT NULL,
    name varchar(255) NOT NULL,
    description varchar(255),
    rel varchar(10),
    last_update date DEFAULT now()
);

INSERT INTO  
   links 
VALUES 
   ('1', 'https://www.ekb.eg', 'EKB', 'Egyptian Knowledge Bank', 'follow', '2020-06-02'),
   ('2', 'http://www.oreilly.com', 'O''Reilly Media', 'O''Reilly Media', 'nofollow', '2013-06-02'),
   ('3', 'http://www.google.com', 'Google', 'Google', 'nofollow', '2013-06-02'),
   ('4', 'http://www.yahoo.com', 'Yahoo', 'Yahoo', 'nofollow', '2013-06-02'),
   ('5', 'http://www.bing.com', 'Bing', 'Bing', 'nofollow', '2013-06-02'),
   ('6', 'http://www.facebook.com', 'Facebook', 'Facebook', 'nofollow', '2013-06-01'),
   ('7', 'https://www.tumblr.com/', 'Tumblr', 'Tumblr', 'nofollow', '2013-06-02'),
   ('8', 'http://www.postgresql.org', 'PostgreSQL', 'PostgreSQL', 'nofollow', '2013-06-02');

 * postgresql://mohamed:***@localhost/dataprep
Done.
Done.
8 rows affected.

[]

In [8]:
%%sql
SELECT url, name FROM links;

 * postgresql://mohamed:***@localhost/dataprep
8 rows affected.

[('https://www.ekb.eg', 'EKB'),
 ('http://www.oreilly.com', "O'Reilly Media"),
 ('http://www.google.com', 'Google'),
 ('http://www.yahoo.com', 'Yahoo'),
 ('http://www.bing.com', 'Bing'),
 ('http://www.facebook.com', 'Facebook'),
 ('https://www.tumblr.com/', 'Tumblr'),
 ('http://www.postgresql.org', 'PostgreSQL')]